.closebutton {
    cursor: pointer;
    margin: 0px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: red;
    border-radius: 16px;
    width: 16px;
    height: 16px;
}

.closetext {
    cursor: pointer;
    margin: 0px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.welcome {
    background-color: rgb(0, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border: dashed black;
    width: 256px;
    border-radius: 16px;
    flex-direction: column;
}

.welcomeheader {
  position: absolute;
  text-align: center;
  font-size: 16px;
  height: 16px;
  cursor: grab;
  user-select: none;
}